In [44]:
import pandas as pd

# Fetching data
bengaluruHouseData = pd.read_csv("./Bengaluru_House_Data.csv");
bengaluruHouseData

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
1389,Built-up Area,Ready To Move,Bannerghatta Road,5 Bedroom,NaN,2700,5.0,0.0,158.00
1390,Super built-up Area,Ready To Move,Sarjapur Road,3 BHK,SocusHi,1700,3.0,3.0,110.00
1391,Built-up Area,Ready To Move,Sarjapur,2 BHK,Sondaka,1020,2.0,2.0,35.00
1392,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Dintsmi,1090,2.0,3.0,52.00
1393,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,NaN,3600,4.0,NaN,300.00

### A. Data for formats of ```merging```, ```grouping``` and ```concatenation```

In [45]:
# 1. Data Wrangling

# Missing field count
nullFieldsCount = bengaluruHouseData.isnull().sum()
print(nullFieldsCount)

area_type         0
availability      0
location          1
size              1
society         544
total_sqft        0
bath             11
balcony          71
price             0
dtype: int64

In [46]:
newBengaluruHouseData = bengaluruHouseData.fillna({'society': 'ArsiaEx', 'bath': '2.0', 'size': "2BHK" })
newBengaluruHouseData

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,ArsiaEx,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
1389,Built-up Area,Ready To Move,Bannerghatta Road,5 Bedroom,ArsiaEx,2700,5.0,0.0,158.00
1390,Super built-up Area,Ready To Move,Sarjapur Road,3 BHK,SocusHi,1700,3.0,3.0,110.00
1391,Built-up Area,Ready To Move,Sarjapur,2 BHK,Sondaka,1020,2.0,2.0,35.00
1392,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Dintsmi,1090,2.0,3.0,52.00
1393,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,3600,4.0,NaN,300.00

# Merging

In [47]:
# Creating subset with different columns
tableHalf1 = newBengaluruHouseData[['area_type','availability','location','size']]
tableHalf2 = newBengaluruHouseData[['area_type','society','total_sqft','bath', 'balcony', 'price']]

tableHalf1.merge(tableHalf2)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Soiewre,1521,3.0,1.0,95.00
2,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,ArsiaEx,1200,2.0,1.0,51.00
3,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,DuenaTa,1170,2.0,1.0,38.00
4,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Jaades,2732,4.0,NaN,204.00
...,...,...,...,...,...,...,...,...,...
957973,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1200,6.0,3.0,180.00
957974,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1350,4.0,1.0,135.00
957975,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1200,7.0,0.0,235.00
957976,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,850,3.0,2.0,95.00
957977,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,3600,4.0,NaN,300.00

In [48]:
tableHalf1.merge(tableHalf2,how='outer')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,1440,2.0,3.0,62.0
1,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,1100,2.0,2.0,40.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,600,1.0,1.0,15.0
3,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,1610,3.0,2.0,81.0
4,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Kantsce,1925,3.0,NaN,125.0
...,...,...,...,...,...,...,...,...,...
957973,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Kaestid,2200,3.0,NaN,187.0
957974,Super built-up Area,Ready To Move,Billekahalli,2 BHK,GonumPl,2900,4.0,NaN,300.0
957975,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Krine O,921,2.0,2.0,40.0
957976,Super built-up Area,Ready To Move,Billekahalli,2 BHK,SocusHi,1700,3.0,3.0,110.0
957977,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Dintsmi,1090,2.0,3.0,52.0

In [50]:
tableHalf1.merge(tableHalf2,how='right')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Coomee,1056,2.0,1.0,39.07
2,Super built-up Area,Ready To Move,Kothanur,2 BHK,Coomee,1056,2.0,1.0,39.07
3,Super built-up Area,Ready To Move,Whitefield,2 BHK,Coomee,1056,2.0,1.0,39.07
4,Super built-up Area,18-May,Old Airport Road,4 BHK,Coomee,1056,2.0,1.0,39.07
...,...,...,...,...,...,...,...,...,...
957973,Plot Area,Ready To Move,Devasandra Extension,6 Bedroom,ArsiaEx,3600,4.0,NaN,300.00
957974,Plot Area,Ready To Move,Marathahalli,5 Bedroom,ArsiaEx,3600,4.0,NaN,300.00
957975,Plot Area,18-Feb,1st Block HRBR Layout,8 Bedroom,ArsiaEx,3600,4.0,NaN,300.00
957976,Plot Area,Ready To Move,Kengeri Satellite Town,3 Bedroom,ArsiaEx,3600,4.0,NaN,300.00
957977,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,3600,4.0,NaN,300.00

In [51]:
tableHalf1.merge(tableHalf2,how='left')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Soiewre,1521,3.0,1.0,95.00
2,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,ArsiaEx,1200,2.0,1.0,51.00
3,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,DuenaTa,1170,2.0,1.0,38.00
4,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Jaades,2732,4.0,NaN,204.00
...,...,...,...,...,...,...,...,...,...
957973,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1200,6.0,3.0,180.00
957974,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1350,4.0,1.0,135.00
957975,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,1200,7.0,0.0,235.00
957976,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,850,3.0,2.0,95.00
957977,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,3600,4.0,NaN,300.00

# Grouping

In [68]:
print("Total price of all houses with area_type categoery wise area_type")
pd.DataFrame(newBengaluruHouseData.groupby("area_type")['price'].sum())

Total price of all houses with area_type categoery wise area_type

                          price
area_type
Built-up  Area        25138.830
Carpet  Area            731.300
Plot  Area            39974.645
Super built-up  Area  86818.440

In [86]:
newHouses = pd.DataFrame([{
    "area_type": "Plot Area",
    "availability": "Ready To Move",
    "location": "Bagalur Main Road",
    "size": "4 Bedroom",
    "society": 'Vantage', 
    "total_sqft": 3600,
    "bath": 4,
    "balcony": 1.0, 
    "price": 300
}, {
    "area_type": "Plot Area",
    "availability": "Ready To Move",
    "location": "Bagalur Main Road",
    "size": "2 Bedroom",
    "society": 'Vantage', 
    "total_sqft": 3600,
    "bath": 3,
    "balcony": 1.0, 
    "price": 200
}])

pd.concat([newBengaluruHouseData, newHouses], axis=0)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,ArsiaEx,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,ArsiaEx,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
1391,Built-up Area,Ready To Move,Sarjapur,2 BHK,Sondaka,1020,2.0,2.0,35.00
1392,Super built-up Area,Ready To Move,Billekahalli,2 BHK,Dintsmi,1090,2.0,3.0,52.00
1393,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,ArsiaEx,3600,4.0,NaN,300.00
0,Plot Area,Ready To Move,Bagalur Main Road,4 Bedroom,Vantage,3600,4,1.0,300.00
1,Plot Area,Ready To Move,Bagalur Main Road,2 Bedroom,Vantage,3600,3,1.0,200.00