In [8]:
import pandas as pd

data = {
    "name": ["sarvesh", "oajs"],
    "roll": [1, 2],
}

table = pd.DataFrame(data)
table

      name  roll
0  sarvesh     1
1     oajs     2