In [42]:
import pandas as pd

data1 = {
    'Name': ["Sarvesh", "Anurag", "Sohan", "Ojas"],
    'Math': [91, 92, 87, 77],
    'English': [81, 97, 82, 90],
}

data2 = {
    'Name': ["Anisha", "2 2", "Jayanti", "Abhishek"],
    'Maths': [71, 56, 67, 97],
    'English': [99, 76, 92, 60],
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

concatData = pd.concat([df1,df2])

concatData

       Name  Math  English  Maths
0   Sarvesh  91.0       81    NaN
1    Anurag  92.0       97    NaN
2     Sohan  87.0       82    NaN
3      Ojas  77.0       90    NaN
0    Anisha   NaN       99   71.0
1       2 2   NaN       76   56.0
2   Jayanti   NaN       92   67.0
3  Abhishek   NaN       60   97.0

In [43]:
s = pd.Series(["Science", "Technology", "Engineering", "Mathematics"], name="event");
pd.concat([s, df1])

         event     Name  Math  English
0      Science      NaN   NaN      NaN
1   Technology      NaN   NaN      NaN
2  Engineering      NaN   NaN      NaN
3  Mathematics      NaN   NaN      NaN
0          NaN  Sarvesh  91.0     81.0
1          NaN   Anurag  92.0     97.0
2          NaN    Sohan  87.0     82.0
3          NaN     Ojas  77.0     90.0

In [44]:
iplTeamData = {
    "Team": ["CSK", "MI", "RCB", "CSK", "MI", "DC", "CSK","SRH" , "LSG", "GT"],
    "Rank": [1, 2, 8, 4, 9, 3, 7, 6, 5, 10],
    "WinnerYear": [2023, 2019, "N/A", 2008, "N/A", "N/A", 2014, 2016, "N/A", 2022],
    "Points": [100, 90, 80, 70, 60, 50, 40 ,30, 20, 10],
}

teamsTable = pd.DataFrame(iplTeamData)
teamsTable.sort_values("Rank")

  Team  Rank WinnerYear  Points
0  CSK     1       2023     100
1   MI     2       2019      90
5   DC     3        N/A      50
3  CSK     4       2008      70
8  LSG     5        N/A      20
7  SRH     6       2016      30
6  CSK     7       2014      40
2  RCB     8        N/A      80
4   MI     9        N/A      60
9   GT    10       2022      10

In [45]:
teamsTable['Team'].value_counts()
list(teamsTable.groupby('Team'))

[('CSK',
    Team  Rank WinnerYear  Points
  0  CSK     1       2023     100
  3  CSK     4       2008      70
  6  CSK     7       2014      40),
 ('DC',
    Team  Rank WinnerYear  Points
  5   DC     3        N/A      50),
 ('GT',
    Team  Rank WinnerYear  Points
  9   GT    10       2022      10),
 ('LSG',
    Team  Rank WinnerYear  Points
  8  LSG     5        N/A      20),
 ('MI',
    Team  Rank WinnerYear  Points
  1   MI     2       2019      90
  4   MI     9        N/A      60),
 ('RCB',
    Team  Rank WinnerYear  Points
  2  RCB     8        N/A      80),
 ('SRH',
    Team  Rank WinnerYear  Points
  7  SRH     6       2016      30)]

In [46]:
teamsTable.groupby('Team').get_group("CSK")

  Team  Rank WinnerYear  Points
0  CSK     1       2023     100
3  CSK     4       2008      70
6  CSK     7       2014      40

In [47]:
sales = pd.read_csv('Sales.csv');

sales

         date region product  units_sold  revenue
0  01-01-2024  North       A          10      100
1  01-01-2024  South       B          15      150
2  02-01-2024  North       A           8       80
3  02-01-2024  South       B          12      120
4  02-01-2024   West       C          20      200
5  03-01-2024  North       B          25      250
6  03-01-2024  South       A          10      100
7  03-01-2024   West       C          15      150

In [48]:
sales.groupby(["region"]).agg({
    "product": "sum"
});

In [49]:
import pandas as pd;

# Gathered data
data = {
    "RollNo": [1, 2, 3, 4, 5, 6, 7],
    "Names": ["Sarvesh", "Anurag", "Ojas", "Praneel", "Anisha", "Kaushik", "Jahnavi"],
    "Gender": ["M", "M", "F", "M", "F", "M", "F"],
    "Age": [21, 22, 20, 23, 21, 22, 20],
    "Grade": ["A", "B", "A", "C", "B", "A", "B"],
    "Marks": [85, 78, 92, 67, 88, 80, 91],
    "Attendance": [90, 85, 95, 80, 88, 92, 94],
    "City": ["Mumbai", "Delhi", "Bangalore", "Chennai", "Kolkata", "Hyderabad", "Pune"]
}


tabularData = pd.DataFrame(data);

tabularData

   RollNo    Names Gender  Age Grade  Marks  Attendance       City
0       1  Sarvesh      M   21     A     85          90     Mumbai
1       2   Anurag      M   22     B     78          85      Delhi
2       3     Ojas      F   20     A     92          95  Bangalore
3       4  Praneel      M   23     C     67          80    Chennai
4       5   Anisha      F   21     B     88          88    Kolkata
5       6  Kaushik      M   22     A     80          92  Hyderabad
6       7  Jahnavi      F   20     B     91          94       Pune

In [50]:
tabularData["City"]

0       Mumbai
1        Delhi
2    Bangalore
3      Chennai
4      Kolkata
5    Hyderabad
6         Pune
Name: City, dtype: object

In [51]:
print("Average Age: ", int(tabularData["Age"].mean()))
print("Average Marks: ", int(tabularData["Marks"].mean()))

Average Age:  21
Average Marks:  83

In [52]:
import nltk
text1="python is a simple programming language"
print(text1)

python is a simple programming language

In [53]:
i=text1.split()
i

['python', 'is', 'a', 'simple', 'programming', 'language']

In [54]:
len(text1.split(" "))

6

In [55]:
nltk.word_tokenize(i)

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\HP/nltk_data'
    - 'c:\\Program Files\\Python312\\nltk_data'
    - 'c:\\Program Files\\Python312\\share\\nltk_data'
    - 'c:\\Program Files\\Python312\\lib\\nltk_data'
    - 'C:\\Users\\HP\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [40]:
nltk.sent_tokenize("text1")

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\HP/nltk_data'
    - 'c:\\Program Files\\Python312\\nltk_data'
    - 'c:\\Program Files\\Python312\\share\\nltk_data'
    - 'c:\\Program Files\\Python312\\lib\\nltk_data'
    - 'C:\\Users\\HP\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [75]:
from nltk.stem import PorterStemmer
stemmer=PorterStemmer()
words=["running", "jumps", "easily", "flying", "demure"] 
stemmed_words=[stemmer.stem(word) for word in words]
print("original words:", words)
print("stemmed words:", stemmed_words)

original words: ['running', 'jumps', 'easily', 'flying', 'demure']
stemmed words: ['run', 'jump', 'easili', 'fli', 'demur']