In [29]:
import pandas as pd

data1 = {
    'Name': ["Sarvesh", "Anurag", "Sohan", "Ojas"],
    'Math': [91, 92, 87, 77],
    'English': [81, 97, 82, 90],
}

data2 = {
    'Name': ["Anisha", "2 2", "Jayanti", "Abhishek"],
    'Maths': [71, 56, 67, 97],
    'English': [99, 76, 92, 60],
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

concatData = pd.concat([df1,df2])

# concatData.fillna(concatData['Hindi'].mean())
concatData

       Name  Math  English  Maths
0   Sarvesh  91.0       81    NaN
1    Anurag  92.0       97    NaN
2     Sohan  87.0       82    NaN
3      Ojas  77.0       90    NaN
0    Anisha   NaN       99   71.0
1       2 2   NaN       76   56.0
2   Jayanti   NaN       92   67.0
3  Abhishek   NaN       60   97.0